/**信息交流**/
.hn-infor-personal{float:left;width:100%;}
.hn-infor-personal ul{width:100%;}
.hn-infor-personal ul li{float:left;width:100%;height:43px;border-bottom:1px solid #e8e8e8;}
.hn-infor-personal ul li p{float:left;line-height:43px;color:#666}
.hn-infor-personal ul li .rt{float:right;padding-right:10px;}
/*.hn-infor-personal ul li .lt span{margin-right:10px;font-size:14px;font-weight:normal;}*/
.hn-infor-personal ul li .lt .red{color:#f73a3a;font-size:12px;}
.hn-infor-personal ul li .rt span{margin-left:60px;}
.hn-infor-personal ul li:hover{background:#ebf9f6;}
.hn-infor-personal ul li:hover p{}
.hn-infor-personal ul li .lt i{float:left;color:#f5a528;font-size:20px;}
/**发帖**/
.hn-new-posts{float:left;margin-top:10px;padding:10px  10px 0 ;width:100%;border-top:1px solid #e8e8e8}
.hn-posts-title{font-size:16px;color:#333}
.hn-posts-title i{float:left;margin-right:10px;color:#00ce6d;font-size:20px}
.hn-posts-int{float:left;margin-top:10px;width:100%;}
.hn-posts-int p{float:left;margin-right:10px;}
.hn-posts-richtext{float:left;margin-top:10px;width:1160px;height: auto;}
.hn-posts-btn{float:left;margin-top:10px;width:100%;}
.hn-posts-btn p{float:left;margin-right:10px;line-height:30px;}
.m-trk-tt .gre-fc{color:#0ec779}

.hn-examinepost-warp{float:left;width:100%;}
.hn-floor-lst{position:relative;float:left;width:100%;background:url(../../images/hn-infbj.jpg) repeat-y left;border-top:1px solid #e8e8e8;}
.hn-floor-lst-lt{float:left;padding:15px 0;width:150px;}
.hn-floor-lst-lt ul li{text-align:center;margin-bottom:5px;}
.hn-floor-lst-lt ul .lz{position:relative;margin-left:26px;width:98px;height:98px;text-align:center;}
.hn-floor-lst-lt ul .lz label{position:absolute;top:0;left:0;}

.hn-floor-lst-rt{float:left;padding:10px  25px;width:1040px;}
.hn-floor-lst-rt-title{float:left;width:100%;font-size:14px;color:#333}
.hn-floor-lst-rt-img{float:left;width:100%;margin-bottom:20px;}
.hn-floor-lst-rt-img p{float:left;margin-top:10px;width:100%;}
.hn-floor-lst-rt-img img{float:left}
.hn-floor-lst-rt-wd{float:left;margin-top:80px;width:100%;text-align:right;}
.hn-floor-lst-rt-wd ul{width:100%;}
.hn-floor-lst-rt-wd ul li{display:inline-block;color:#999;line-height:25px;height:25px}
.hn-floor-lst-rt-wd ul li p{display:inline-block;}
.hn-floor-lst-rt-wd ul li a{margin-left:10px;color:#999}
.hn-floor-lst-rt-wd ul li .gre{color:#00ce6d}
.hn-floor-lst-rt-wd ul .bd-rt{padding-right:10px;border-right:1px solid #e8e8e8}
.hnpb-0{padding-bottom:0;}

.hn-floor-lst-rt-hf{float:left;padding:5px 15px 15px;margin-top:1px;width:990px;height:auto;background:#f9f9f9;border:1px solid #e8e8e8}
.hn-floor-lst-rt-hf-lst{float:left;margin-top:10px;padding-bottom:5px;width:100%;border-bottom:1px dashed #e8e8e8;}
.hf-lst-lt{float:left;width:60px;height:60px;}
.hf-lst-rt{float:left;padding-left:10px;width:890px;}
.hf-lst-rt ul li{width:100%;float:left;}
.hf-lst-rt ul li p{float:left;}
.hf-lst-rt ul li .nr{width:700px;color:#333}
.hf-lst-rt ul .rt{text-align:right;color:#999;}
.hf-lst-rt ul .rt a{margin-left:10px;padding-left:10px;border-left:1px solid #e8e8e8;color:#999;}
.hf-lst-rt ul .rt a:hover{color:#00ce6d}
.hn-floor-lst-rt-hf-lst-btn{float:left;margin-top:10px;width:100%;text-align:right;}
#hf-lst-int{display:none;}
.hn-floor-lst-rt-wd ul li .reply-2{float:left;margin-top:10px;padding:0 10px;height:25px;background:#f9f9f9;border:1px solid #e8e8e8;border-bottom:none;}
.hn-hf-textarea{margin-top:4px;width:958px;height:40px;padding:4px;}
.hn-fab-btn{text-align:right;}
.m-trk-tt .rt .btnash a{background:#fff;border:1px solid #e8e8e8;color:#333}
