/*营销任务指标管理*/
/*创建*/
.add-yxrw-bd{border: none;margin: 10px 0px 20px 0px;padding: 0;}
.add-yxrw-btn{margin-bottom: 0px;}
.m-vis-fm ul .m-yxrw-pla{min-height: 82px;}
.m-vis-fm ul .m-yxrw-pla textarea{position: relative;text-indent: 10px;}
.m-vis-fm ul .m-yxrw-pla textarea::-webkit-input-placeholder{font-family: "iconfont";}

.m-vis-fm ul .m-yxrw-pla  i{position: absolute;left: 10px;top: 4px;}
.m-vis-fm ul .m-yxrw-pla .ibdr{border-right: none;}

.z-nextbtn .border-bg{background: #f4fff9;color: #00ce6d;}
.pb-130{padding-bottom: 130px;}

.m-yxrw-tab.z-crt{border: 1px solid #00ce6d;}
.m-yxrw-tab label{top:10px;}
.m-yxrw-tab label .z-icon2{font-size: 14px;}
.m-yxrw-tab label .z-icon1{font-size: 14px; display: block;}
.m-yxrw-list{width: 100%;margin: 0;padding: 0px 15px;float: left;}
.m-yxrw-list ul{float: left;padding: 0px 10px;width: 220px;height:36px;border: 1px solid #e8e8e8;border-radius: 0px;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-right: 10px;    margin-top: 10px;}
.m-yxrw-list ul li{float: left;line-height: 32px;}
.m-yxrw-list ul .rt{float: right;}
.m-yxrw-list ul .rt i{font-size: 16px;}
.m-yxrw-list ul .rt .ashicon{color: #cdcdcd;}
.m-yxrw-list .z-crt{border: 1px solid #00ce6d;}
.m-yxrw-list .z-crt i{color:#00ce6d!important;}

.m-yxrw-title{height:34px;line-height: 34px;width: 100%;padding-left: 18px;float: left;}
.m-yxrw-ins{height: 583px;clear: both;}
.m-yxrw-ins-cnt{height: 475px;overflow-y: auto;float: left;}
.trading-tab .z-mr{position: absolute;left: 52px;top:11px;display: inline-block;padding: 0 6px;height: 16px;background: #f5a72b;line-height: 15px;text-align: center;-webkit-transform: scale(0.9);font-size: 12px;color: #fff;border-radius: 15px;}
.trading-tab ul{position: relative;}
#srtatab{margin-top: 10px;}
.int-138{width: 138px;}
#add-yxrw-bd{margin: 6px 0px 0px 0px;}

.m-yxrw-line{border-top: 1px solid #e8e8e8;padding-top: 10px;}

#m-we-big #add-yxrw-bd{margin: 0px 0px 0px 10px;}
/*任务分配*/
.m-rwfp-tab{width:100%; min-height:47px; border-bottom: 0.5px solid #e8e8e8; line-height: 47px; clear: both;}
.m-rwfp-tab ul{float: left;}
.m-rwfp-tab li{position:relative;}
.m-rwfp-tab .span{font-size:16px; display: block;line-height: 44px;margin: 0px 14px;padding:0 20px; color:#666; }
.m-rwfp-tab .current{border-bottom:3px solid #00ce6d; color:#000;}
.m-rwfp-tab .m-trk-tt{/*border-bottom: none;*/}
.m-rwfp-tab .m-trk-tt p{margin-top: 5px;}
.m-rwfp-tab-line{height:16px; width: 1px; background:#E8E8E8; position: absolute; right: 0; top:16px;}

.fl{float: left;}
.fr{float: right;}
.m-dot-left-sch ul .m-more a{line-height: 0;}
.m-dot-left-sch ul .sh-hid .shicon {line-height:29px;}
.m-rwfp-sch{padding:5px 0px 0px 0px ;}
.m-rwfp-sch .dot-senior{width: 210px;}

.m-dot-left-sch .ul{float:left;width:100%; list-style: none;}
.m-dot-left-sch .ul li{position:relative;float:left;line-height:30px;}
.m-dot-left-sch .ul .right{float:right}
.m-dot-left-sch .ul li p{float:left}
.m-dot-left-sch .ul .m-more{float:left;padding:3px 10px;margin: 5px 0px 0px 0px;height:20px;line-height:0px;font-size:14px;}
.m-dot-left-sch .ul .m-more a{width:100%;color:#666}
.m-dot-left-sch .ul .m-more a:hover{color:#00ce6d}
.m-dot-left-sch .ul .m-more i{margin-left:5px;font-size:14px;}
.m-dot-left-sch .ul .m-my{cursor:pointer;}
.m-dot-left-sch .ul .m-my i{}
.m-dot-left-sch .ul .m-my i:hover{color:#00ce6d}
.m-dot-left-sch .ul .m-comp{float:left;padding:3px 10px;margin:5px 15px 0 15px;height:20px;line-height:0px;font-size:14px;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8}
.m-dot-left-sch .ul .m-comp a{margin-top:6px;float:left;width:100%;color:#666}
.m-dot-left-sch .ul .m-comp a i{margin-top:1px;float:left;font-size:16px;}
.m-dot-left-sch .ul .left i{position:absolute;right:10px;top:1px;font-size:14px;color:#666}
.m-dot-left-sch .ul .sh-hid .shicon{color:#666}
.m-dot-left-sch .ul .sh-hid .shicon i{position:absolute;right:10px;top:1px;font-size:14px;}
.dot-senior .ul{float:left;}
.dot-senior .ul li{float:left;margin-top:10px;width:100%;}
.dot-senior .ul li p{float:left;margin-right:10px;}
.dot-senior .ul li p a{line-height:30px;}
.dot-senior .ul li p a i{font-size:14px;color:#fff}
.dot-senior .ul .z-hid{position:absolute;top:-40px;left:0;width:220px;}
/*table表任务分配全部*/
.m-rwfp-list{width: 100%; min-height:650px; height: auto;}
.m-rwfp-table{width: 100%;}
/*.m-rwfp-pag ul li a{margin: 0px 10px;}*/
/*.m-rwfp-table .m-pag{width: 1160px; position: initial; margin-top: 13px;}*/
.m-rwfp-table .m-rwfp-export a{color: #666; margin-top: 3px; line-height: 22px;}
.btn-70{width:70px;height:28px;}


/*列表详情*/
.m-rwfp-detail{float: left;padding: 0px 20px; margin-bottom: 10px;}
.m-rwfp-green-ttl{height:13px; line-height: 13px;border-left: 2px solid #00ce6d; text-indent:10px;  margin-top: 15px;float: left;width: 1000px;text-align: left;}
.m-rwfp-detail p{width:100%;float: left;margin-bottom: 6px;}
.m-rwfp-detail ul {margin-left: 27px;margin-top: 5px; float: left; width:1000px;}
.m-rwfp-detail ul li{float: left;width: 50%;line-height: 25px; list-style-type: disc;}
.m-rwfp-detail ul li i{font-style:normal; margin-left:20px; font-siz:12px;}

/*按钮*/
.m-rwfp-btn{margin:6px 0px 0px 0px; padding-right: 20px; position: relative;}
.m-rwfp-btn a label{position: absolute; left:10px; top:-30px; display: none; background: red;  color: #fff; padding: 0px 4px;}
.m-rwfp-btn a label span{width: 0;height: 0;border-left: 5px solid transparent;border-right: 5px solid transparent;border-top:6px solid red;position: absolute;top: 30px;left: 60px;} 


.border-lightred{border:1px solid #ed6a5a;background:#fff6f6; }
.border-lightyellow{border:1px solid #f8c678;background:#fffdf9; }
.border-lightgreen{border:1px solid #3be294;background:#f4fffa; }
.border-lightred i{padding-right: 5px; color:#ed6a5a!important;}
.border-lightyellow i{padding-right: 5px; color:#f8c678!important;}
.border-lightgreen i{padding-right: 5px; color:#3be294!important;}
.btn-lightlarge{width: auto; height: 32px; line-height: 30px; padding: 0px 5px;}
.m-rwfp-btn a{color: #666; margin-bottom: 6px;}
.tab_nr_1{display: none;}
.tab_nr_3{display: none;}


/**任务跟踪**/
.track-tab{float:left;margin-top:5px;padding:0 15px 0 0;width:100%;height:40px;border-bottom:1px solid #e8e8e8;}
.track-tab ul{float:left;}
.track-tab ul li{float:left;margin:0 10px;padding:0 20px 8px;font-size:14px;line-height:30px;cursor:pointer;}
.track-tab ul .bd-none{border-right:none}
.track-tab ul .z-crt{border-bottom:2px solid #00ce6d;}
.track-tab ul .line{float:left;margin-top:8px;height:15px;border-right:1px solid #e8e8e8;}

.track-tab .rt{float:right}

.track-tab .rt .sh-int{float:left;position:relative;}
.track-tab .rt .sh-int i{position:absolute;right:10px;top:8px;font-size:12px;color:#999}
.track-tab .rt .lv-sh{margin-left:10px;color:#666;line-height:30px;}
.track-tab .rt .lv-sh:hover{color:#00ce6d}

/**任务跟踪 内容**/
.m-tas-warp{float:left;padding:0 15px;width:100%;}
.m-tas-big{float:left;margin-top:15px;width:100%;}
.m-tas-tt{float:left;width:100%; margin-top: 15px;}
.m-tas-tt ul{float:left;width:100%;}
.m-tas-tt ul li,.m-tas-tt ul li p,.m-tas-tt ul li p span{float:left;}
.m-tas-tt ul .rt{float:right;font-size:12px;}
.m-tas-tt ul .rt p{margin-left:10px;}
.m-tas-tt ul .rt p span{margin-right:4px;}
.m-tas-tt ul .bt{font-size:14px;}
/**任务跟踪 tab**/
.m-tas-tab{float:left;margin-top:10px;width:100%;}
/**按钮**/
.m-tas-btn{float:left;margin-top:10px;width:100%;text-align:right; border-bottom: 1px solid #e8e8e8; padding-bottom: 15px;}
.m-tas-btn a{display:inline-block;margin-left:10px;padding:0 10px;height:30px;border:1px solid #e8e8e8;line-height:30px;color:#666}
.m-tas-btn a i{margin-right:6px;font-size:14px;color:#666}
.m-tas-btn a:hover{background:#00ce6d;color:#fff}
.m-tas-btn a:hover i{color:#fff}
.m-line-wd ul li{line-height:25px; width: 300px;}
.star-fm ul .sm-wd{width:300px;}

/*营销任务指标管理-分配任务量*/
.m-vis-fm ul li .z-crt{  background: none; color: #666666;border:none;}
.m-vis-tab-lst ul li p{border: none;}
.m-fprwl-lst{}
.m-fprwl-lst .m-fprwl-title{height: 40px;}
.m-fprwl-lst .m-fprwl-title p{float: left;margin-top: 10px;padding-left: 10px;height: 18px;border-left: 4px solid #00ce6d;cursor: pointer;}
.m-fprwl-lst .m-dt-list ul li .word{width: 69px;}
.m-fprwl-lst .m-sp{margin: 0;}
.m-fprwl-lst .m-dt-list ul li .word{color: #666;}
.pb-0{padding-bottom: 0!important;}
.m-fprwl-tab-fm{padding-left: 40px;}
.m-fprwl-tab-fm .m-we-lst-ct-left{width: 100%; border-right: none;}
.m-fprwl-tab-fm .m-we-lst-tt{background: #fff;}
.m-fprwl-tab-fm .m-we-lst-tt p{color: #333;}
.m-fprwl-tab-fm .m-we-lst-ct-left .ul{float: left;width: 100%;}
.m-fprwl-tab-fm .m-we-lst-ct-left .ul .li{margin: 0 0 10px 10px; width: 146px;position: relative;float: left;padding: 0 15px;height: 34px;background: #f4f4f4; color: #333;line-height: 34px;}
.m-fprwl-tab-fm .m-vis-tab-lst ul li p{padding: 0;}
.m-fprwl-tab-fm .m-we-lst-ct-left .ul .li i{display: block;float: right;margin-left: 4px;color: #666;cursor: pointer;font-size: 14px;}
.m-fprwl-tab-fm .m-we-lst-ct-left .m-li-hover{}
.m-fprwl-tab-fm .m-we-lst-ct-left .m-li-hide{display: none;}
.m-fprwl-tab-fm .m-have-fm .bt-wd{width: 60px; margin-left: 20px;}
.m-fprwl-tab-fm .m-have-fm{margin-top: 10px;}
.m-fprwl-tab-fm .m-vis-tab-lst ul{margin: 0;}
.m-fprwl-tab-fm .star-fm ul .bt{width: 90px;}
.m-fprwl-tab-fm .m-fprwl-date{margin-left: -11px;}
.m-fprwl-tab-fm .m-fprwl-bd .add-star-bd{border: none; padding: 0; margin: 0 0 5px 0;}
.m-fprwl-tab-fm .m-fprwl-bd .add-star-bd .bt .tt{font-weight: bold;}
.m-fprwl-nextbtn{background: #fff;}
.m-fprwl-nextbtn>p>div{margin-right: 12px;margin-bottom: 1px;}
.m-fprwl-tab-fm .add-yxrw-bd{margin: 0 0px 0px 10px;}
.m-fprwl-tab-fm #add-yxrw-bd0{margin: 6px 0px 0px 0px;}
.m-fprwl-tab-fm .add-star-bd .zz-lst .lt p{margin:0px 5px 5px 0;     width: auto;}
.m-fprwl-tab-fm  #m-yxrw-tk{width: 128px; padding: 0 19px; height:30px; line-height: 26px;}
.m-fprwl-tab-fm  #ch-xdbtn{width: 106px; height: 30px; line-height: 26px;}
.m-area-choice{width: 803px;height: 583px;}
.m-area-choice .tips-tt p{color: #434343; font-size: 14px;}
.m-area-choice .m-ejct-lt{width: 159px;height: 476px; overflow-y:auto;}
.m-area-choice .m-ejct-lt p:first-child{position: relative;}
.m-area-choice .m-ejct-lt .wd-xq{padding-left: 30px;}
.m-area-choice .m-ejct-lt .wd-xq i{position: absolute; left: 0px;top: 0px;}
.m-area-choice .m-ejct-zb .wd-xq{padding-left: 15px;}
.m-area-choice .ejct-lt-lst{padding: 0;}
.m-area-choice .ejct-lt-lst ul{margin:0; height: auto;border-top:none;border-bottom: 1px solid #E8E8E8;border-top: 1px solid #fff; border-left: none; border-right: none;}
.m-area-choice .ejct-lt-lst ul:hover{background:#00CE6D; border-top:none;border-bottom: 1px solid #00CE6D; border-top: 1px solid #00CE6D; border-left: none; border-right: none; color: #fff;}
.m-area-choice .ejct-lt-lst ul.selected{background:#00CE6D; border-top:none;border-bottom: 1px solid #00CE6D; border-top: 1px solid #00CE6D; border-left: none; border-right: none; color: #fff;}
.m-area-choice .ejct-lt-lst ul.selected i{color:#fff;}
.m-area-choice .ejct-lt-lst ul.selected:hover i{color:#fff;}
.m-area-choice .ejct-lt-lst ul:hover  .right i{color: #fff;}
.m-area-choice .ejct-lt-lst ul:hover  .wd-xq i{color: #fff;}
.m-area-choice .ejct-lt-lst ul .left{width: 110px; line-height: 18px;padding-bottom: 5px;}
.m-area-choice .ejct-lt-lst ul .right i{margin:6px 9px 0px 0px; }
.m-area-choice .ejct-lt-lst .z-crt{background:#f5fffa; border-top:none;border-bottom: 1px solid #00CE6D; border-top: 1px solid #00CE6D; border-left: none; border-right: none;}
.m-area-choice .ejct-lt-lst .z-crt i{color:#00CE6D;}
.m-area-choice .ejct-lt-lst .wd-xq{margin-top: 5px;}
.m-area-choice .ejct-rt-lst{width: 644px;float: left;overflow-y: auto;padding: 0 0 0 10px; height:475px;}
.m-area-choice .ejct-rt-lst ul{width: 150px; height: 36px; border: 1px solid #E8E8E8; margin: 6px 6px 0px 0px; float:left;}
.m-area-choice .ejct-rt-lst ul:hover{border: 1px solid #00CE6D;}
.m-area-choice .ejct-rt-lst ul .left{width: 110px;}
.m-area-choice .ejct-rt-lst .z-crt{border:1px solid #00CE6D; background:#fff; color: #666;}
.m-area-choice .ejct-rt-lst .z-crt i{color:#00CE6D;}
.m-area-choice .ejct-rt-lst .ejct-rt-tt{height: 38px; line-height: 38px;}
.m-area-choice .ejct-rt-lst .ejct-rt-tt em{color:#f8c678; font-style: normal;}
/*自动分配终端数目标量*/
.eject-allot{position:fixed;top:50%;left:50%;margin-top:-285px;margin-left:-360px;z-index:999;padding:10px 0px 10px 0px;width:720px;height:570px;background:#fff;display:none;}
.eject-allot .ej-allot-table{width: 678px; margin:10px 20px 0px 20px;     height: 450px;overflow-y: auto;}
.eject-allot .ej-ch-ct{border-bottom: none;}
#ej-allot-ok{margin-left: -4px; margin-top: -1px;}
.table-bg thead th{background-color:#f6faf9}

/*／／地市区域选择弹框*/
.m-area-choice #ejct-rt-lst-city{width: 100%;}

.select220{width:218px;height:34px;padding-left:4px;}
.int-220{width:218px;height:32px;padding-left:4px;line-height:32px;}
.pb-40{padding-bottom: 40px;}
.pl-75{padding-left: 75px;}
.dn{display: none;}
.btn-72{width:72px;height:30px; line-height:26px;border: 1px solid #00CE6D;}
.pr-95{padding-right: 95px;}
#m-yxrw-cj-0 .m-have-fm label{display: inline-block;z-index: 99;padding: 0 10px;height: 32px;background: #e8f5ee;line-height: 32px;font-size: 12px; position: absolute; left:260px; top:2px;}
#m-yxrw-cj-0 .m-have-fm label i{margin-right: 4px;font-size: 12px;color: #eb300b;}
#m-yxrw-cj-0 .m-have-fm{position:relative;} 

#m-yxrw-cj-0 .m-vis-fm ul label{position: absolute; left: 440px; top: -1px;}
#ejct-rt-lst0{display:block;}
.ej-add-zblst .z-crt i{color:#00ce6d!important;}

/* 任务调整弹框	 */
.m-change {height:auto;}
.m-change .m-tab{ border-left: 1px solid #e8e8e8;  margin-top:0;}
.m-change .m-ejct-lt{width:200px; padding-bottom:0px;  overflow-y:auto; border-right:none;}
.m-change .ejct-lt-lst .z-crt{border:none;}
.m-change .tips-bd{padding:0 20px 10px;}
.m-change .ejct-rt-lst{width:520px; float:right; height: 450px; overflow-y:auto;}
.m-change .ejct-lt-lst{padding:0px;}
.m-change .ejct-lt-lst ul{border:none;  margin-top:0; height:auto;}
.m-change .ejct-lt-lst ul li{width:100%; border-bottom:1px solid #e8e8e8; text-indent:20px;height:33px; line-height:33px;}
.m-change .ejct-lt-lst .z-crt{background:#00ce6d; color:white;border-bottom:1px solid #00ce6d;}
.m-change .z-nextbtn p{margin-bottom:10px;}
.m-rwfp-list .m-tab .table i{cursor:pointer!important; margin-right: 0px;}
.bm-n{border-bottom:none!important;}
.bt-n{border-top:none!important;}
#m-tab0{display:block;}

.m-area-choice .ej-add-zblst{clear:both;float:none; padding:0;}
.m-area-choice  i{color:#cdcdcd;}
.m-area-choice  ul .right label .z-icon1{display:none;}
.m-area-choice  ul .right.z-crt{border:2px solid #00ce6d}
.m-area-choice  ul .right label .z-icon2{display:block;}
.m-area-choice  ul .right.z-crt label .z-icon2{display:block;}

#allotmission-wrap .mask{z-index:1;}
#allotmission-wrap .eject-choice{z-index:2;}

/**7-7 新加**/
.m-dt-list ul li .dis{position:relative;}
.m-dt-list ul li .m-dt-file{position:absolute;top:0;left:0;width:76px;height:30px;cursor:pointer;
opacity:0;
filter:alpha(opacity=0);   
-moz-opacity:0;   
-khtml-opacity:0;}

/*7-27 新加*/
.hn-trading-tab {margin-top: 10px;}
.hn-trading-tab ul{width: 230px;}
.star-fm .m-dt-file{position:absolute;top:0;left:440px;width:52px;height:30px;cursor:pointer;opacity:0;filter:alpha(opacity=0);   -moz-opacity:0;   -khtml-opacity:0;}
.star-fm .dis{position: relative;}
.int-218{width: 218px;}
.int600{width:600px;height:30px;padding:0 4px;line-height:28px;}
.hn-jf-add{background:#fcfcfc; border:1px solid #f2f2f2; width: 621px; height: 98px; margin-left: 160px; padding: 10px; position: relative;}
.hn-jf-add i{color:#00ce6d; position: absolute; right:-35px; top: 0; font-size:20px;}
.hn-trk-tt {margin: 0px; padding:0px 17px 10px 30px; width: 100%;}
.hn-trk-tt .rt-btn{width: 130px;}
.hn-trk-tt .rt-btn .xz{width: 90px;}
.m-hn-table-warp {padding: 0px 15px;}
.m-hn-table-warp .table-border th, .table-border td{border: 1px solid #E8E8E8;}
.m-hn-table-warp .table th.text-l, .table td.text-l{text-align: center!important;}
.m-hn-table-warp .activity-tt{padding: 0px 5px;width:186px; word-wrap: break-word;word-break: break-all;}
.m-hn-table-warp .name-tt{padding: 0px 5px;width: 200px; word-wrap: break-word;word-break: break-all;}
.hn-prompt ul li{margin-bottom: 0px;}
.hn-yxrw-list ul{min-width: 210px; width: auto; margin-right: 6px;}
.hn-yxrw-list ul .lt{margin-right: 5px;}
#hn-addTask-wrap{margin-left: 150px;}

#hn-addTask-wrap div ul li i{color: #00ce6d;margin-left: 10px;}

.int300{width: 300px;height: 30px;  padding: 0 4px;  line-height: 28px;}
.int230{width: 230px;height: 30px;  padding: 0 4px;  line-height: 28px;}

/*选择渠道类型弹框新加*/
.m-chan-choose-ins{height: 383px;clear: both;}
.m-chan-choose-cnt{height: 275px;overflow-y: auto;float: left; width: 100%;}
.m-chan-choose-list{width: 100%;margin: 0;padding: 0px 15px;float: left;}
.m-chan-choose-list ul{float: left;padding: 0px 10px;width:100%;height:32px;border-radius: 0px;cursor: pointer;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;margin-right: 10px; }
.m-chan-choose-list ul li{float: left;line-height: 32px;}
.m-chan-choose-list ul .lt .ashicon{color: #cdcdcd; margin-right: 5px;}
.m-chan-choose-list ul .rt{float: right;}
.m-chan-choose-list ul .rt i{font-size: 16px;}
.m-chan-choose-list ul .rt .ashicon{color: #cdcdcd;}
.m-chan-choose-list .z-crt i{color:#00ce6d!important;}
.m-chan-choose-list .z-crt {color:#00ce6d;}
.m-chan-choose-div{width: 25%; float: left; border-right:1px solid #E8E8E8;}
