.channel-scale .m-chart-tt{
    border:none;
}
.channel-scale li.right-text{
    height: 36px;
    line-height: 36px;
}
.channel-scale .data-tab span{
    font-size: 12px;
    display: inline-block;
    padding: 1px 5px;
    color: #666;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.channel-scale .data-tab .data-des{
    font-style: normal;
    margin-left: 20px;
    color: #bbb;
    font-size: 12px;
}
.channel-scale .data-tab span.cur{
    color: #fff;
    background-color: #00ce6d;
    border:none;
}
.channel-data{
    width: 540px;
}